<footer class="text-center text-lg-start mt-0 text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>{{ "footer.getConnected" | translate }}</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <!-- <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i
            >{{ "footer.companyName" | translate }}
          </h6>
          <p>
            {{ "footer.description" | translate }}
          </p>
        </div> -->

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            {{ "footer.usefulLinks" | translate }}
          </h6>
          <p>
            <a [routerLink]="['/home']" class="text-reset">{{
              "footer.home" | translate
            }}</a>
          </p>
          <p>
            <a [routerLink]="['/shop', 'all']" class="text-reset">{{
              "footer.shop" | translate
            }}</a>
          </p>
          <p>
            <a [routerLink]="['/cart']" class="text-reset">{{
              "footer.cart" | translate
            }}</a>
          </p>
          <p>
            <a href="#!" class="text-reset">{{ "footer.help" | translate }}</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            {{ "footer.contact" | translate }}
          </h6>
          <p>
            <i class="fas fa-home me-3"></i>{{ "footer.address" | translate }}
          </p>
          <p>
            <a
              href="mailto:mahmoud.tawfek.elsayed22@gmail.com"
              class="text-decoration-none"
            >
              <i class="fas fa-envelope me-3"></i>Mahmoud Tawfek
            </a>
          </p>
          <p>
            <a href="tel:01280968784" class="text-decoration-none">
              <i class="fas fa-phone me-3"></i>01280968784
            </a>
          </p>
          <p>
            <a href="tel:01095098498" class="text-decoration-none">
              <i class="fas fa-phone me-3"></i>01095098498
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2024 {{ "footer.copyright" | translate }}
    <a class="text-reset fw-bold" routerLink="">shop.com</a>
  </div>
</footer>
