@if (load) {
<div class="load">
  <div class="loader"></div>
</div>
}@else {
<div
  class="container d-flex flex-md-row flex-sm-column flex-column justify-content-center gap-md-5 gap-2 py-5"
>
  <div class="image text-center w-75 mx-auto">
    <img [src]="productImage" alt="" class="my-auto" />
    <div class="images d-flex justify-content-center flex-wrap flex-md-nowrap">
      @for (item of product?.images; track $index) {
      <div>
        <img [src]="item" class="d-block" alt="" (click)="change($index)" />
      </div>

      }
    </div>
  </div>
  <div class="text w-75 mx-auto pt-0 pt-md-4">
    <h2 class="text-sm-center text-center text-md-start fw-bold">
      {{ product?.title }}
    </h2>
    <p class="text-center text-md-start fw-medium">{{ product?.brand }}</p>
    <p class="text-center text-md-start">{{ product?.description }}</p>
    <p class="text-center text-md-start">
      <i class="fas fa-star gold-star"></i> {{ product?.rating }}
    </p>

    <p class="text-center text-md-start fs-4 fw-bold">
      <span class="price fs-5 fw-normal">{{ product?.price }}$</span>
      {{ product?.price | discount : product?.discountPercentage }}$
    </p>
    <div class="mt-5 w-100">
      @if (product?.added==true) {
      <a
        name=""
        id=""
        class="btn btn-primary d-block w-75 mx-auto mx-md-0"
        (click)="addToCart()"
        role="button"
        >Remove From Cart</a
      >}@else {
      <a
        name=""
        id=""
        class="btn btn-primary d-block w-75 mx-auto mx-md-0"
        (click)="addToCart()"
        role="button"
        >Add To Cart</a
      >
      }
    </div>
  </div>
</div>
}
