<div class="head">
  <div class="text">
    <p
      data-aos="fade-right"
      data-aos-easing="ease-in-sine"
      data-aos-duration="300"
    >
      Incredible Prices
    </p>

    <p
      data-aos="fade-right"
      data-aos-easing="ease-in-sine"
      data-aos-duration="400"
    >
      on All Your
    </p>
    <p
      data-aos="fade-right"
      data-aos-easing="ease-in-sine"
      data-aos-duration="500"
    >
      Favorite Items
    </p>
    <p
      data-aos="fade-right"
      data-aos-easing="ease-in-sine"
      data-aos-duration="600"
      data-aos-anchor-placement="top-bottom"
      class=""
    >
      Get more for less on selected brands
    </p>
    <div
      class="shop-button"
      data-aos="fade-right"
      data-aos-easing="ease-in-sine"
      data-aos-duration="700"
      data-aos-anchor-placement="top-bottom"
    >
      <button type="button " routerLink="/shop/all" class="btn btn-primary">
        Shop Now
      </button>
    </div>
  </div>
  <div class="himage">
    <img class="head-image" [src]="headImage" alt="" />
  </div>
</div>
<section class="catagories sections">
  <div
    class="main-heading"
    data-aos-anchor-placement="bottom-bottom"
    data-aos="fade-up"
  >
    <h1 class="text-center rotate-center py-5">Catagories</h1>
  </div>
  <div class="catList" class="mx-3">
    <div class="row text-center mx-auto gap-lg-3 gap-sm-4 catagories-list">
      @for (catagory of catagories; track $index) {
      <p
        class="d-block col-lg-3 col-sm-4 mx-auto"
        data-aos-anchor-placement="bottom-bottom"
        data-aos="fade-up"
      >
        <a [routerLink]="['/shop', catagory]" class="list-group-item">{{
          catagory
        }}</a>
      </p>
      }
    </div>
  </div>
</section>
<section class="sections brand">
  <div class="main-heading" data-aos="fade-up">
    <h1 class="text-center rotate-center py-5">Brands</h1>
  </div>

  <div class="row row-cols-2 row-cols-md-3 g-4 m-auto">
    <div class="col" data-aos="zoom-in" data-aos-duration="1000">
      <div class="card">
        <img
          src="assets/AMD-Logo-500x313-min.png"
          class="card-img-top brand-image flip-vertical-right"
          alt="..."
        />
      </div>
    </div>
    <div class="col" data-aos="zoom-in" data-aos-duration="1000">
      <div class="card">
        <img
          src="assets/Apple-Logo-500x281-min.png"
          class="card-img-top brand-image flip-vertical-right"
          alt="..."
        />
      </div>
    </div>
    <div class="col" data-aos="zoom-in" data-aos-duration="1000">
      <div class="card">
        <img
          src="assets/Gucci-PNG-Image-1024x662_530x@2x.webp"
          class="card-img-top brand-image flip-vertical-right"
          alt="..."
        />
      </div>
    </div>

    <div class="col" data-aos="zoom-in" data-aos-duration="1000">
      <div class="card">
        <img
          src="assets/Louis-Vuitton-Logo+2021.jpg"
          class="card-img-top brand-image flip-vertical-right"
          alt="..."
        />
      </div>
    </div>
    <div class="col" data-aos="zoom-in" data-aos-duration="1000">
      <div class="card">
        <img
          src="assets/LOreal-logo-500x281-min.png"
          class="card-img-top brand-image flip-vertical-right"
          alt="..."
        />
      </div>
    </div>
    <div class="col" data-aos="zoom-in" data-aos-duration="1000">
      <div class="card">
        <img
          src="assets/Samsung-Logo-2-500x281-min.png"
          class="card-img-top brand-image flip-vertical-right"
          alt="..."
        />
      </div>
    </div>
    <div class="col" data-aos="zoom-in" data-aos-duration="1000">
      <div class="card">
        <img
          src="assets/Nike-Logo-500x281-min.png"
          class="card-img-top brand-image flip-vertical-right"
          alt="..."
        />
      </div>
    </div>

    <div class="col" data-aos="zoom-in" data-aos-duration="1000">
      <div class="card">
        <img
          src="assets/HM-logotype-monogram-1024x640.avif"
          class="card-img-top brand-image flip-vertical-right"
          alt="..."
        />
      </div>
    </div>

    <div class="col" data-aos="zoom-in" data-aos-duration="1000">
      <div class="card">
        <img
          src="assets/Playstation_logo_colour.svg.png"
          class="card-img-top brand-image flip-vertical-right"
          alt="..."
        />
      </div>
    </div>
  </div>
</section>
