.up {
  display: none;
}

.visible {
  width: 45px;
  height: 45px;
  border-radius: 15px;
  border: none;
  display: block;
  position: fixed;
  background-color: var(--maincolor);
  text-align: center;
  bottom: 120px;
  right: 25px;
  font-size: larger;
  color: white;
  font-weight: 900;
  animation: moveUpDown 2s infinite;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}