<div class="d-flex align-items-center root">
  <div class="container mx-auto">
    <main>
      <div class="left-side">
        <div class="welcome">
          <div class="logo">
            <span>{{ "login.shop" | translate }}</span>
          </div>
          <p>{{ "login.welcomeBack" | translate }}</p>
        </div>
      </div>
      <div class="right-side">
        <form (ngSubmit)="submit(user)" #loginform="ngForm" method="post">
          <h4>{{ "login.login" | translate }}</h4>

          <div class="input-field">
            <i class="fa-solid fa-user"></i>
            <input
              type="text"
              required
              id="username"
              (click)="hide()"
              name="username"
              minlength="5"
              [placeholder]="'login.username' | translate"
              [(ngModel)]="user.username"
              #username="ngModel"
            />
          </div>

          @if (username.invalid && username.touched) {
          <div>
            @if (username.errors?.['required']) {
            <span class="text-danger">{{
              "login.usernameRequired" | translate
            }}</span>
            } @if (username.errors?.['minlength']) {
            <small class="text-danger">{{
              "login.usernameMinLength" | translate
            }}</small>
            }
          </div>
          }

          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input
              type="password"
              id="password"
              [placeholder]="'login.password' | translate"
              name="password"
              minlength="5"
              (click)="hide()"
              required
              [(ngModel)]="user.password"
              #password="ngModel"
            />
          </div>

          @if (password.invalid && password.touched) {
          <div>
            @if (password.errors?.['required']) {
            <span class="text-danger">{{
              "login.passwordRequired" | translate
            }}</span>
            } @else if (password.errors?.['minlength']) {
            <small class="text-danger">{{
              "login.passwordMinLength" | translate
            }}</small>
            }
          </div>
          } @if (loginform.valid && valid == false) {
          <span class="text-danger message">{{ message }}</span>
          }

          <input
            id="submit"
            type="submit"
            [value]="'login.loginButton' | translate"
          />

          <div>
            <a
              [routerLink]="['/home']"
              class="text-decoration-none"
              role="button"
            >
              {{ "login.guest" | translate }}
            </a>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>
