@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@300;400;500&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --maincolor: rgb(66, 99, 234);
  --black: rgb(36, 36, 36);
  --light: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  border: none;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background);
}

.container {
  /* position: relative; */
  width: 70vw;
  height: 80vh;
  background-color: var(--light);
  border-radius: 15px;
  box-shadow: 0 0 15px #c3c3c3;
}

main {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-side {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  min-width: 230px;
  padding: 0 10px;
}

h4 {
  font-size: 25px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 800;
}

.login-error {
  /* background-color: rgb(255, 183, 183); */
  color: red;
  border-radius: 50px;
  width: 233px;
  padding: 5px 10px;
  font-size: 13px;
  display: none;
}

.input-field {
  width: 140%;
  height: 50px;
  background-color: var(--light);
  margin: 10px 0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  background: #eee;
}

.input-field i {
  flex: 1;
  text-align: center;
  color: var(--black);
  font-size: 18px;
  padding: 0 5px;
}

.input-field input {
  flex: 5;
  background: none;
  outline: none;
  border: none;
  width: 100%;
  font-size: 18px;
  font-weight: 600px;
  color: var(--black);

}

input[type="submit"] {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 50px;
  background-color: var(--maincolor);
  font-weight: 600;
  margin: 10px 0;
  text-transform: uppercase;
  cursor: pointer;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

.left-side {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 40%;
  height: 100%;
  background-color: var(--black);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  align-items: center;
}

.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(319deg,
      rgb(50, 22, 194) 0%,
      rgb(21, 88, 142) 100%);
  color: var(--light);
}

.left-side .welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-side .welcome .logo {
  font-weight: 600;
  font-size: 22px;
  background-color: var(--black);
  display: inline;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.left-side .welcome .logo span {
  color: var(--maincolor);
}

.left-side .welcome p {
  font-size: 28px;
  font-weight: 700;
}

/* form span {
  display: none;
  font-size: 12px;
} */
.hide {
  display: none;
}

@media(max-width:828px) {
  main {
    flex-direction: column;
  }

  main .left-side {
    width: 100%;
    border-radius: 10px 10px 0 0;
    flex-basis: 300px;
  }
}

@media(max-width:450px) {
  form .input-field {
    width: 80%;
  }
}
